force-app/main/default/flows/Switching_ResponseProcessing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Response_Type</name>
        <label>Check Response Type</label>
        <locationX>278</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Update_Request_Rejected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Rejected</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Response_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Request_Accepted</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SwitchingResponseProcessing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Switching ResponseProcessing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Request</name>
        <label>Get Request</label>
        <locationX>292</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Response_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Switching_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Accepted</name>
        <label>Update Request Accepted</label>
        <locationX>493</locationX>
        <locationY>372</locationY>
        <inputAssignments>
            <field>Id</field>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>Switching_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Request_Rejected</name>
        <label>Update Request Rejected</label>
        <locationX>50</locationX>
        <locationY>371</locationY>
        <inputAssignments>
            <field>Id</field>
            <value>
                <elementReference>Get_Request.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Switching_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Request</targetReference>
        </connector>
        <object>Switching_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
